data/logs
data/DCCbatchout
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd.codiumai
.codiumai
/projects/compare_SMelec_SentenceRep/data.dat
projects/GLM/english_us_lr.dict
projects/GLM/*.npy
projects/GLM/data
projects/GLM/plot
projects/Test_auditory_onsetresponse/data
projects/Neighbour_electrode/plot
projects/YN_WNW_HGtraces_compare_06082025/plots
projects/PCA_LDA/results